# Node dependencies
**/node_modules/
.pnpm/

# Build outputs
**/dist/
**/.swc/
**/.turbo/
**/.next/

# Logs and debug
*.log
pnpm-debug.log
npm-debug.log
yarn-debug.log
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Testing
coverage/
.jest/
jest-cache/

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# DevContainers
.devcontainer/.env
.devcontainer/.bash_history

# Storybook / other tools (optional)
.storybook-out/
